includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app
    bootstrapFiles:
        - _ide_helper_models.php
    excludes_analyse:
        - app/Livewire
    ignoreErrors:
        - '#Unsafe usage of new static#'
    checkMissingIterableValueType: false
