@import './fonts.css';

@tailwind base;
@tailwind components;

/* Fixes a weird bug that adds a trailing line to every code block */
.prose pre code::after {
    display: none;
}

@tailwind utilities;
